@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
}

@layer components {
  .deleteIcon {
    background-image: url('./assets/icons/delete-user-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
  }
}